#proveit {
	background: var( --background-color-base, #fff );
	font-size: .8em;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9;
}
#proveit-header {
	background: var( --background-color-base, #fff );
	overflow: hidden;
}
#proveit-header .cdx-button {
	margin: 5px;
}
#proveit-logo {
	background: black;
	color: white;
	cursor: pointer;
	float: right;
	font-family: monospace;
	font-size: 1.4em;
	height: 43px;
	line-height: 43px;
}
#proveit-logo .proveit-logo-bracket {
	color: yellow;
	font-size: 2.3em;
	font-weight: bold;
	position: relative;
	vertical-align: bottom;
}
#proveit-body {
	background: var( --background-color-neutral-subtle, #f8f9fa );
	max-width: 700px;
	max-height: 300px;
	overflow-y: scroll;
}
#proveit-list {
	margin: 0;
}
#proveit-list .proveit-item {
	margin: 0;
	overflow: hidden;
	padding: 5px 10px;
}
#proveit-list .proveit-item:nth-child(odd) {
	background: var( --background-color-interactive, #eaecf0 );
}
#proveit-list .proveit-item:hover {
	background: var( --background-color-interactive--hover, #dadde3 );
	cursor: pointer;
}
#proveit-list .proveit-item .proveit-number,
#proveit-list .proveit-item .proveit-arrow,
#proveit-list .proveit-item .proveit-letter {
	margin-right: .5em;
}
#proveit-list .proveit-item .proveit-template {
	font-weight: bold;
	margin-right: 10px;
	white-space: nowrap;
}
#proveit-no-references-message {
	text-align: center;
	padding: 10px;
}
#proveit-form {
	box-sizing: border-box;
	padding: .5em;
	width: 700px;
}
#proveit-form .cdx-field {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 0;
}
#proveit-content-field textarea {
	font-family: monospace;
}
#proveit-template-field .cdx-select-vue__handle {
	min-width: 200px;
}
#proveit-form button {
	float: right;
}
/**
 * Simple CSS tooltip by Keenan Payne
 * https://webdesignerdepot.com/how-to-create-a-simple-css3-tooltip
 */
#proveit-form .cdx-label span[data-tooltip] {
    position: relative;
}
#proveit-form .cdx-label span[data-tooltip]:hover:after {
    background: var( --background-color-backdrop-dark, rgba( 0, 0, 0, 0.65 ) );
    border-radius: 2px;
	box-sizing: border-box;
    bottom: 1.5em;
    color: var( --color-inverted, #fff );
    content: attr( data-tooltip );
    font-weight: normal;
    left: 1em;
    line-height: 1.5em;
    padding: .5em;
    position: absolute;
    width: 300px;
}
#proveit-footer {
	background: var( --background-color-base, #fff );
	text-align: right;
}
#proveit-footer .cdx-button {
	margin: 5px;
}
#proveit-footer .cdx-text-input {
	float: left;
	margin: 5px;
	width: 150px;
}
#proveit-show-all-button {
	float: left;
}
